body{
background-color: #ffffff;
font-family: 'PT Sans Narrow', 'Arial', sans-serif;
}

*{
	padding:0;
	margin:0;
}

ul{
	list-style:none;	
}

a{
	text-decoration:none;	
}

.wrapper{
	width:1160px;
	margin: 0 auto;
}

/*HEADER*/

.top-menu{
	background-color: #3c3c3c;
}

.bottom-menu{
	background-color: #f0f0f0;
}

.user-navigation{
	display: flex;
	justify-content:space-between;
	align-items:center;
	padding: 15px 0;
	background-color: #3c3c3c;
}

.tel a{
	color: #e9b637;
}

.usera a{
	color:white;

}

.search {
	background-color:#3c3c3c;
	border:1px solid #FFFFFF;
	color:white;
	height:30px;
	width:200px;
	padding:0 5px;
}


.site-navigation{
	display: flex;
	justify-content:space-between;
	align-items:center;
	padding: 15px 0;
	background-color: #f0f0f0;
}

.site-navigation > li{
	padding:10px;
}
.site-navigation > li:first-child{
	flex-grow: 5;
	position:relative;
}

.site-navigation > li:nth-child(n+2){
	width: 120px;
}

.dropdown-submenu{
	position:absolute;
	top:40px;
	left:0;
	display:none;
	flex-wrap: wrap;
	flex-shrink: 0;
	width: 600px;
	margin-top: -10px;
	padding-top:10px;
	padding-right: 560px;
	background-color:#f0f0f0;
	z-index:5;
}

.dropdown-submenu > li{
	margin-right:10px;
}

.site-navigation > li:first-child:hover .dropdown-submenu{
	display:flex;
}

/*HEADER end*/




/*SLIDER ONE*/

.main-slider{
	width: 1160px;
	margin:0 auto;
	height:388px;
	overflow:hidden;
	display:flex;
	position:relative;
}

.main-slider label{
	border:2px solid white;
	border-radius:100%;
	width:12px;
	height:12px;
	margin-left:10px;
}

.switch {
	display:flex;
	position:absolute;
	bottom:10px;
	left:45%;
}
.slide{
	order:2;
}
input[type=radio]:checked+div{
	order:1;
}

.slid-one {
	width:100%;
	background-color: #e9b637;
	height:388px;
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	flex-shrink:0;
	
}

.slid-two{
	width:100%;
	background-color: #e9b637;
	height:388px;
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	flex-shrink:0;
}

.slid-three{
	width:100%;
	background-color: #e9b637;
	height:388px;
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	flex-shrink:0;
}

.slid-three img{
	position:relative;
	top:50px;
}

.slidertext{
	color:white;
	width: 500px;
	height:207px;
	padding-left:100px;
}

.slidertext h2{
	font-size:35px;
}

.slidertext span{
	color:#4c463c;
}

.more{
	border:2px solid white;
	border-radius:4px;
	width:206px;
	height:39px;
	display: flex;
		align-items:center;
		justify-content:center;
}

.more a{
	color:white;	
}

/*SLIDER ONE end*/
/*Товары*/
.tovar{
	color:#3c3c3c;	
	display: flex;
		justify-content:center;
	padding:80px 0 60px 0;
}

.tovar ul{
	display: flex;
		justify-content:space-between;
		flex-direction:row;
	width:1160px;
	padding-left:0;
	text-align:center;	
}

.tovar a{
	color:black;
}

.tovarwidth{
	width:150px;
	height:250px;
}

.icon-tovar{
	border-radius: 50%;
	background-color: rgb(240, 240, 240);
	width: 145px;
	height: 145px;
	border:5px solid #e9b637;
	display: flex;
		justify-content:center;
		align-items:center;
  
}
/*Товар конец*/

.services{
	width:1200px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	display: flex;
}

.Sliderone{
	width:800px;
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin-left:70px;
	box-sizing: border-box;
	flex-shrink:0;
}

.Slidertwo{
	width:800px;
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin-left:70px;
	box-sizing: border-box;
	flex-shrink:0;
}

.Sliderthree{
	width:800px;
	display: flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	margin-left:70px;
	box-sizing: border-box;
	flex-shrink:0;
}

.Slider-one-text{
	width:600px;
	display: flex;
		flex-direction:column;

}

.Slider-two-text{
	width:600px;
	display: flex;
		flex-direction:column;

}

.Slider-three-text{
	width:600px;
	display: flex;
		flex-direction:column;

}

.slide2{
	order:2;
}
input[type=radio]:checked+div{
	order:1;
}

.serv-buttons{
	padding-right:70px;
	width:250px;
	height:180px;
	display: flex;
		justify-content:space-between;
		flex-direction:column;
}

.serv-button{
  border: 1px solid rgb(60, 60, 60);
  width: 250px;
  height: 43px;
  display: flex;
		align-items:center;
		justify-content:center;
}

.hr{
	left:20px;
}

/*SLIDER 2 end*/
/*Реклама*/

.brands{
	width:1160px;
	padding:100px 0 100px 0;
	display: flex;
	margin:0 auto;
}

.brands ul{
	display: flex;
		flex-direction:row;
		justify-content:space-around;
}

.brands ul li{
	padding-left:20px;
}
/*Реклама конец*/
/*О компании и рассылка*/
.our-company{
	display: flex;
		flex-direction:row;
		align-items: center;
		justify-content: center; 
		padding-bottom:100px;
	}

.about-us{
	background-color:#e7e7e7;
	width: 759px;
	height: 546px;
	color:#8c8c8c;
	padding:50px;
	box-sizing: border-box;
}

.about-us h2{
	color:#3c3c3c;
}

.about-us p{
	font-size:20px;
}
.about-us li{
	list-style:disc;	
	}

.about-us li p{
	font-size:18px;
	padding-top:15px;
}

.about-us a{
	color:black;
}

.mailing{
	background-color:#3c3c3c;
	width: 414px;
	height: 546px;
	color:white;
	padding:40px;
	box-sizing: border-box;
	display: flex;
		flex-direction:column;
		align-items:stretch;
}

.mailing input{
	border:1px solid #919191;
	background-color: #515151;
	width: 335px;
	height: 46px;
	padding:10px;
	color:#919191;
	margin-top:15px;
}

.note{
  font-size: 11px;
  font-family: "Century Gothic";
  color: rgba(255, 255, 255, 0.122);
  line-height: 1.2;
  width: 296px;
  height: 36px;
}

.mailing button{
	background-color: rgb(233, 182, 55);
	width: 337px;
	height: 65px;
	display: flex;
		align-items:center;
		justify-content:center;
	border:0px solid red;
	font-size:20px;
	margin-top:40px;
}

.mailing p{
	margin-top:30px;
}
/*О компании и рассылка конец*/
/*Футер*/
.ground{
	width:100%;
	height:50px;
	display: flex;
		justify-content:center;
		align-items:center;	
	color:white;
	background-color:black;
	z-index:1;
}

.ground-info{
	width:1160px;
	display: flex;
	justify-content:space-between;
}

.ground ul{
	display: flex;
		flex-direction:row;
		justify-content:center;
		align-items:center;	
}

.footer{	
	width:1160px;
	display: flex;
	justify-content:center;
	align-items:center;
	margin-left:100px;
	
	
}

.footer-main{
	width:1160px;
	margin:0 auto;
	display: flex;
	justify-content:space-between;
	align-items:center;	
	padding-bottom:25px;


}

.footer-info{
	width:250px;
	display: flex;
	flex-direction:column;
	
}

.footer-info a{
	color:white;
	
}

.footer-info p{
	color:#a8a8a8;

}

.footer-info ul{
		display: flex;
		justify-content:space-between;
}

.footer-tel{
	width:250px;
}

.footer-tel a{
	color:white;
	font-size:25px;
}

.footer-map{
	width:500px;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.footer-map ul{
	display: flex;
	justify-content:space-between;
	width:100%;
}


.footer-map a{
	color:white;
}

footer{
	width: 100%;
	height: 300px;
	background-color:#464646;
	z-index:2;
	padding-top:15px;
	

}
/*Конец футера*/



/*Анимация при действиях*/
.cabinet :hover {
	color: #e9b637;
} 

.subscribe:hover {
	background-color:white;
	border:1px solid #e9b637;
	color:#e9b637;
}

.icon-tovar:hover {
	background-color:#e9b637;
}

.icon-tovar:hover img{
	filter:brightness(100);
	
}

.serv-button:hover{
	background-color:black;
	color:#e9b637;
}

.mail:hover{
	color:white;
}

.brands:hover{
	opacity:0.4;
}


/*Конец анимации при действиях*/